#tab-direction{
    height: 100% !important;
    width: 100% !important;
}

.direction-delivery{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.direction-input-box{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    font-size: 2vh;
    padding: 1vh 0;
}

.direction-input-label{
    color: #40AE7F;
    font-weight: 500;

}

.direction-input-text{
    width: 70%;
    margin: .2vh 0;
    border: .2vh solid #afafaf;
    border-radius: .8vh;

}

.direction-input-text[class~="details"]{
    height: 16vh;
    font-size: 1.5vh;
    resize: none;
}

.direction-input-text:focus{
    outline: none;
    border: .3vh solid #2a845c;
}


.method-pay-box{
    height: 100%;
    width: 100%;
}

.method-pay-button{
    width: 90%;
    height: 100%;
    border: none;
    background-color: #40AE7F;
    color: white;
    font-size: 2vh;
    font-weight: 500;
    border-radius: .8vh;
    margin: 0 5%;
    padding: 2vh;
    margin-top: 6%;
}

.method-pay-button:hover{
    background-color: #2a845c;
}