#nav-cart-quantity{
    position: relative;
    top: 1,5vh;
    width: 2vh;
    left: 90%;
    height: 2vh;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    font-size: 1.5vh;
    text-align: center;
    line-height: 20px;
    z-index: 1;
}

#navBar{
    font-size: 1.7vh;
}
#nav-logo{
    position: relative;
    width: 7vh;
    height: 5vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}